[2012-09-13 16:38] bromanko opened #2 "Bugsnag Crashes on Undefined Stack Frames"
TraceJS does not correctly handle frames that originate from native code. Instead of including a frame in the array, undefined is emitted. This causes bugsnag to throw an error in the notify method.

See this issue for more information https://github.com/chrisdickinson/tracejs/issues/4

I have submitted a pull request to correct the issue but I'm not sure how active tracejs is. If you would like,

[2012-12-27 14:31] danjenkins opened #3 "No way of telling when a notification has been sent"
I didn't want the bugsnag module to be in control of my exceptions (as we have other processes in operation for dealing with them in a particular way)

As a result of this I call bugsnag.notify(err) myself within my existing process uncaughtException codebase.

However, if I allow my app to die straight away after the uncaughtException (using process.exit(1)) then the notification is never sent pr

[2012-12-29 02:18] #3 closed, assigned to nobody

[2012-12-31 09:25] danjenkins opened #5 "A little confused as to how to only sent notifications from certain environments"
I've got process.env.NODE_ENV set, and when I register bugsnag I use the following code:

bugsnag.register(config.bugsnag.key, {
  appVersion: buildinfo.git_version || 'N/A',
  notifyReleaseStages: [ 'staging' , 'integration', 'production'],
  useSSL: true,
  autoNotify:false
});

I'm getting error alerts from the NODE_ENV of development though, is this not how you tell the module which environmen

[2013-01-02 04:00] #5 closed, assigned to nobody

[2013-03-19 14:15] Tivoli opened #10 "Latest version breaks"
I can start my app fine without bugsnag, but as soon as I try bugsnag.register I get the following error.

[code]

[2013-03-19 16:51] #2 closed, assigned to nobody

[2013-03-19 17:29] #10 closed, assigned to nobody

[2013-04-09 22:21] aledbf opened #11 "It's possible to add metadata per request?"
I want to add values that depends of the route. It's possible?

[2013-04-10 22:26] #11 closed, assigned to nobody

[2013-08-11 21:53] Tivoli opened #14 "All Error's being sent"
I'm using an express app, is there a way to ignore new Error from reporting an issue?  I just want uncaught exceptions basically.

Thanks ^^

[2013-08-28 20:12] wvl opened #15 "require('bugsnag') should work with node cli"
This shouldn't happen:

[code]

[2013-08-30 20:24] #15 closed, assigned to nobody

[2013-09-28 17:59] matejkramny opened #16 "400 RangeError: Maximum Call Stack size exceeded"
I get this when uploading A file using POST request.

Using latest Express.js

[code]

Am I doing something wrong?

[2013-10-14 21:38] #14 closed, assigned to nobody

[2014-04-30 17:14] jessicard opened #23 "Drops events when you log errors with custom data that includes the '£' currency symbol"
The notifier seems to silently drop events when you log errors with custom data that includes the '£' currency symbol.

Here's a gist of a simple demo: https://gist.github.com/shackpank/35c130623e52926b6af1

[2014-05-21 23:52] snmaynard opened #26 "IISNode issues"
Req.connection is null behind iisnode - which leads to issues on windows in requestInfo.

Also the remoteAddress should fall back to req.ip if its null.

[2014-05-28 03:03] #26 closed, assigned to nobody

[2014-06-16 23:07] snmaynard opened #33 "Use continuation local storage instead of attaching to domain"
We should use https://www.npmjs.org/package/continuation-local-storage instead of attaching _bugsnagOptions to the domain object.

[2014-07-13 22:28] matejkramny opened #35 "Bugsnag handlers errors even though it shouldn't"
I checked out the source code, debugged it, and this [block](https://github.com/bugsnag/bugsnag-node/blob/master/lib/bugsnag.js#L47-L55) never executes.

I want bugsnag to function during normal mode, however during testing i want it to ignore any exceptions.. Config code:

[code]

However, bugsnag keeps on capturing exceptions, even though it never itself registers for the uncaught exception `pro

[2014-07-13 23:19] #35 closed, assigned to nobody

[2014-09-13 16:43] matejkramny opened #37 "bugsnag catches should.js asserts"
As part of node.js testing, mocha and should.js throw exceptions when something fails..

That is expected, apart from the fact that bugsnag tries to catch them :P.

Is it possible to disable bugsnag entirely, while not having to comment out all the `require('bugsnag')` lines?

I tried setting the bugsnag like this:

[code]

It still catches the errors, which is really annoying.

I temporarily adde

[2014-09-24 10:22] snmaynard opened #38 "Support async stacktraces"
We should add support to the library for async stack traces. Many promises libraries come with support for this now so I think it should be easy.

[2014-11-02 02:33] defunctzombie opened #41 "please pin your dependencies"
This is not safe: https://github.com/bugsnag/bugsnag-node/blob/master/package.json#L8

When these dependencies release new versions, future installs of your module will break for users. For an error handling module this will lead to sadness.

[2014-11-07 08:19] sradu opened #42 "Using 'filter' stops logging request bodies"
Ever since I added enabled 'filter' it won't log the request body.

bugsnag.register('XXX', { filters: [ 'an_input' ] });

[2014-12-01 21:44] emmettnicholas opened #43 "Support for multiple Bugsnag projects"
The Ruby notifier supports multiple projects:

https://bugsnag.com/docs/notifiers/ruby#multiple-projects

But the node.js notifier doesn't seem to support this. It would be great to be able to to do something like

    bugsnag.notify(err, {
        apiKey: 'other-api-key-here'
    });

[2014-12-09 22:42] #23 closed, assigned to nobody

[2014-12-09 22:50] emmettnicholas opened #44 "Notifier crashes if metadata contains object without hasOwnProprty"
`Utils.cloneObject`, `Utils.mergeObject`, and `Utils.filterObject` all assume that every object in the metadata has `hasOwnProperty`. This is not always the case: http://stackoverflow.com/questions/16585209/node-js-object-object-has-no-method-hasownproperty

REPRO:

    var err = new Error();

    var metadata = Object.create(null);
    metadata.a = 'b';

    bugsnag.notify(err, metadata, cb);

ST

[2015-01-05 21:52] justinklemm commented on #16
I'm seeing this issue as well. It happens when a file is uploaded through a POST request and Nginx is being used as a reverse proxy. I don't see the issue locally when I access the Node.js app directly on port 3000. But on staging, where Nginx proxies port 80 to the Node app, the RangeError appears.

I'm using Node v0.10.33, but I don't think that's the issue here. I believe BugSnag's Express requ

[2015-01-05 22:59] matejkramny commented on #16
@justin uncommenting the app.use fixes this for me, although you lose some
reporting such as request info

On Monday, January 5, 2015, Justin Klemm <notifications@github.com> wrote:

[2015-01-06 01:01] justinklemm commented on #16
@matejkramny Thanks, yea, commenting out that line prevents the issue for me too. I can deal with the lost info.

It's probably worth Bugsnag digging into this though. It look me a little while to track down the issue and it's particularly "dangerous" because the bug seemingly only occurs when a reverse proxy is used (which can mean that things will work fine during local development, then break i

[2015-01-06 05:44] snmaynard commented on #16
Yeah - we have left the issue open as it's one that is hard to reproduce. With this nginx lead though we might be able to track it down! Hopefully I'll get some time soon to take a deeper look. Thanks!

[2015-01-06 15:00] justinklemm commented on #16
Cool, let me know if I can do anything to help.

You should be able to reproduce it if you setup a simple Express app with a POST route, at say localhost:3000. Then setup Nginx to forward some local domain (ex: http://express.localhost) to it using [ngx_http_upstream_module](http://nginx.org/en/docs/http/ngx_http_upstream_module.html). If you setup an HTML form with a `input[type="file"]` element

[2015-01-09 04:28] snmaynard opened #46 "Koa support"
https://github.com/koajs/koa/wiki/Error-Handling

[2015-02-05 18:42] emadd commented on #16
+1

[2015-02-12 20:41] jessicard opened #47 "Add beforeNotify support"
Add beforeNotify support

[2015-02-13 23:52] ConradIrwin commented on #16
I'm trying and failing to replicate this using https://github.com/ConradIrwin/express-eg. I'd love for one of you to take a look and see if you can make it fail.

[2015-02-13 23:52] ConradIrwin commented on #33
This probably won't happen, I think node 0.12 has something better built in.

[2015-02-13 23:52] #33 closed

[2015-02-19 01:33] #46 closed

[2015-02-19 01:53] #44 closed

[2015-02-19 01:55] #41 closed

[2015-02-19 01:59] ConradIrwin commented on #37
Hey @matejkramny,

Sorry for the slow reply.

In our tests we do this, which helps for cases where we are manually catching and sending to bugsnag. Hopefully that will work for you too.

[code]

Usually this isn't a problem, as the test runner catches errors first. But sometimes in async callbacks this comes in handy.

[2015-02-19 01:59] #37 closed

[2015-02-19 02:13] #43 closed

[2015-02-19 02:23] matejkramny commented on #37
Hi Conrad, thanks for looking at this and fixing it. Interesting behaviour
hehe

On Thursday, February 19, 2015, Conrad Irwin <notifications@github.com>
wrote:

[2015-02-19 22:51] ConradIrwin commented on #38
For now we can just leave this up to the user. If they're using something like bluebird then async stacktraces seem to "just work" in many cases.

In the future we might want to show the async jumps in the web UI, but that will require a much larger change.

[2015-02-19 22:51] #38 closed

[2015-02-19 23:20] #47 closed

[2015-02-19 23:23] #16 closed

[2015-02-19 23:26] #42 closed

[2015-03-02 13:05] mathieug opened #52 "Bugsnag.requestHandler(req, res, next) should reset the metaData"
Currently, I don't see how to handle metaData with ExpressJS.
I've a middleware `loadUser` set on some routes (which means user needs to be authenticated to access the route). If I put data into metaData in a request then I get a crash in a second request, notify will send data left from the first request.

[2015-03-02 13:14] mathieug commented on #52
I guess we should have a global metaData and a metaData per request.

[2015-03-02 19:05] #52 closed

[2015-03-02 19:06] ConradIrwin commented on #52
Hey @mathieug!

Thanks for this, there is actually already a metaData-per-request, it just wasn't properly exposed. I've now fixed this, https://github.com/bugsnag/bugsnag-node/blob/master/README.md#per-request-metadata.

Please let me know if this solves your problem

[2015-03-04 08:47] mathieug commented on #52
@ConradIrwin thank you again.
Sometimes, bugsnag.requestData is undefined and my app crash if I don't do `bugsnag.requestData = bugsnag.requestData || {}`. Any idea?

[2015-03-04 09:38] mathieug opened #54 "Use requestData.userId instead of metaData.userId"
Would be nice if bugsnag uses `requestData.userId` instead of `metaData.userId`

[2015-03-04 18:02] jessicard commented on #54
Hey @mathieug - It should already be doing that (see https://github.com/bugsnag/bugsnag-node/blob/master/lib/bugsnag.js#L42 & https://github.com/bugsnag/bugsnag-node/blob/master/lib/notification.js#L25). Are you running into an issue?

[2015-03-04 18:02] #54 closed

[2015-03-04 18:07] mathieug opened #55 "requestData does not work"
[code]
This code does not work, on bugsnag the Tab custom is empty and New tab says:
![image](https://cloud.githubusercontent.com/assets/951183/6489775/7252e8b2-c2a1-11e4-8a82-fc211ea84ece.png)
Which is exactly what I'm doing.

[2015-03-04 18:07] mathieug commented on #54
@jessicard Thank you, please see #55 for the exact issue.

[2015-03-04 18:30] jessicard commented on #55
Hey @mathieug, thanks for the heads up! Sorry about the bug - I've created a PR for it here: https://github.com/bugsnag/bugsnag-node/pull/56

[2015-03-04 18:33] #55 closed

[2015-03-07 10:28] mathieug opened #57 "Errors context"
I use `bugsnag.notify()` in a file called logger.js:
[code]

This allows me to do some others actions when I need to report an error, a warning, ...
My issue is with the stacktrace sent to bugsnag, all the reported errors/warning/.. are stacked in `libs/logger.js`. How can I keep my source code DRY and get my reports accurate?

[2015-03-09 17:45] snmaynard commented on #57
There are two ways that I can think of. One is to use the (onBeforeNotify)[https://github.com/bugsnag/bugsnag-node#onbeforenotify] to remove those stack lines from the reports. The second way is to provide a stack property that has already had the stack mutated to remove the logging stack lines. You could get a correctly formatted stack by copying a mutated new Error().stack into your error.

Do e

[2015-03-09 18:01] mathieug commented on #57
Thanks. Can you gist me an example of the way with onBeforeNotify()?

[2015-03-10 17:13] snmaynard commented on #57
You should be able to do it with,

[code]

[2015-03-17 08:47] mathieug commented on #55
@jessicard still not work with
[code]

[2015-03-17 09:04] mathieug opened #58 "Cannot set property 'strictMode' of undefined"
[code]

[2015-03-17 14:38] mathieug commented on #58
I got this error when I set an instance of a mongoose document in `bugsnag.requestData`.

[2015-03-17 18:12] keeganlow commented on #55
Hey @mathieug, the data that you've added there should show up in the user tab. Is it not showing up for you? Could you link me to an error so I can take a look?

[2015-03-17 19:19] keeganlow commented on #58
Hey @mathieug, could you try updating to version 1.6.4 and see if the issue has been resolved. Thanks!

[2015-09-22 00:43] QuentinDejean opened #63 "Version Number was not changed for PR recently merged"
Hi,

I raised a PR a few days ago that was just merged this morning.

Problem is that when trying to fetch the latest from NPM, it doesn't fetch the fix recently merged: I believe this is because the change hasn't been pushed to NPM itself, only to Github (see http://stackoverflow.com/a/23348036)

Is that possible for you guys to bump up the version of the package?

I am asking that because I am c

[2015-09-25 23:59] AlicanC commented on #43
`bugsnag` should actually be a constructor so we can:
[code]

[2015-09-28 23:51] QuentinDejean commented on #63
Hi guys,

Any news on that?

Cheers

[2015-10-02 04:52] jinarusha opened #64 "notify() not working"
I am using bugsnag@1.6.5.
When I run the following code,
[code]
I get:
[code]

However, when I checked the admin page, there was no notification.
I tried something similar using bugsnap Python library and that worked perfectly.
It seems to be a problem with **bugsnag-node**.
Could you check on that?

[2015-10-06 16:27] snmaynard opened #65 "Add code support to node"
We should add support for code in stacktrace

[2015-10-12 04:24] jinarusha commented on #64
It seems like there was some internal problem with the project that I was testing the above code.
Works fine when I run the code against a new project but not the old one

[2015-10-12 04:24] #64 closed

[2015-10-27 10:50] netroy opened #66 "Unhandled exception in payload delivery"
due to some dependency mess in the request module, the error reporting has been failing for us for months .. here is the stack trace
[code]

[2015-10-27 10:52] netroy commented on #66
for now we've been using a fork with the request module removed .. here is a commit that I just pushed... If there is a general consensus on removing the `request` module, I can send a PR.

[2015-11-04 23:22] jacobmarshall commented on #65
I really want to have a look at implementing this - no promises on time. Is there anything that needs to be done on the server side in order to hook this up?

[2015-11-04 23:26] jacobmarshall commented on #65
I assume it would work exactly the same way as the PHP notifier does - https://github.com/bugsnag/bugsnag-php/blob/dc2e0b6092806c59bd33ef6c6aa74332762ff659/src/Bugsnag/Stacktrace.php#L95?

[2015-11-05 00:21] jacobmarshall commented on #65
PR coming later...

![screen shot 2015-11-05 at 1 21 16 pm](https://cloud.githubusercontent.com/assets/4710291/10956386/247d9dea-83c0-11e5-8675-481dc80b8093.png)

[2015-11-05 05:08] jacobmarshall commented on #63
I think this can safely be closed now - latest version in NPM matches that of GitHub.

[2015-11-05 08:01] snmaynard commented on #63
Thanks @jacobmarshall!

[2015-11-05 08:01] #63 closed

[2015-11-16 03:32] xiaoshimimi commented on #16
Hi, just curious, is this problem finally be resolve?

I encountered a same weird problem, and I cannot debug the core reason. and the scenario is very similar with this issue. I hope I can get some inspiration with how this issue got fixed.

[2015-11-16 14:11] justinklemm commented on #16
I ended up just disabling `app.use(bugsnag.requestHandler)` and relying on only `app.use(bugsnag.errorHandler)`. This was pretty long time ago and it was while using ExpressJS v3. We've since upgraded to ExpressJS v4. We still have the code commented out because we rarely see any issues where it's necessary. I've been curious as to whether the v4 upgrade fixed it -- but haven't tested.

[2015-11-20 20:21] #65 closed

[2015-11-25 13:31] netroy commented on #66
ping @snmaynard , @ConradIrwin

[2015-11-26 10:23] CodeHex opened #69 "Reason for sending Cleaned Request Metadata"
In some cases, the cleaned request metadata is being added to node exceptions.

https://github.com/bugsnag/bugsnag-node/search?utf8=%E2%9C%93&q=cleanedrequest

It is unclear why we add this data or what it represents. Is this feature complete?

[2015-12-15 19:11] kattrali commented on #57
Closing as fixed, can reopen if additional information needed.

[2015-12-15 19:11] #57 closed

[2015-12-15 19:14] kattrali commented on #58
Closing as resolved, can reopen with additional feedback.

[2015-12-15 19:14] #58 closed

[2015-12-29 10:57] #66 closed

[2016-01-25 18:34] Jon-Biz opened #71 "Node security advisory issued for bugsnag-node dependency dependency hawk"
A node security advisory has been issued for `Hawk` versions < 3.1.3:

https://nodesecurity.io/advisories/77

`Hawk` is an dependency of `Request`, which is dependency of this library, currently at version `2.53`. Hawk has been updated, and the latest version of `Request` will pick this fix up automatically:

https://github.com/request/request/issues/2020#issuecomment-173468959

[2016-01-27 17:05] kattrali commented on #69
@snmaynard Should we yank this? I don't see what it is for either.

[2016-01-27 17:07] kattrali commented on #71
Thank you for the report, @Jon-Biz. Fixed by #70, shipping a release shortly.

[2016-01-27 17:07] #71 closed

[2016-01-27 21:49] snmaynard commented on #69
I think that cleaned request was set to prevent a recursion bug - we only wanted to save a certain amount on the domain. I think the bug is that this is appearing on people's dashboards, it should never appear in metadata.

[2016-01-28 17:53] kattrali commented on #69
Potentially fixing this with #72, let me know if I missed anything here.

[2016-01-28 20:30] #69 closed

[2016-02-08 21:43] TylerBrock opened #74 "It doesn't seem like the notify callback has any arguments"
The documentation says: "The callback has two arguments, err and response. The err argument will contain any error received when trying to send the notification, the response object will contain the response received from Bugsnag"

However when i provide a callback I the arguments are empty.

[code]

Output: `done {}`

[2016-02-23 11:09] CodeHex opened #75 "Notifier exceptions when endpoint cannot be reached"
If the endpoint `notify.bugsnag.com` cannot be reached, the notifier throw the following exception

[code]

Can be verified by changing
https://github.com/bugsnag/bugsnag-node/blob/master/lib/configuration.js#L15
to something that can't be reached and doing a test notify

[2016-02-23 11:16] CodeHex commented on #75
This is just logged, doesn't throw an exception, nvm

[2016-02-23 11:16] #75 closed

[2016-04-03 23:44] wprater opened #76 "support for HTTPS proxies"
I cannot specify an HTTPS proxy url, not pass proxy auth headers.  These do not seem to be exposed in your implementation.  Do you have a recommended way, or do I need to open a PR?

[2016-04-11 17:02] kattrali commented on #76
Hi @wprater, there is currently no implementation of using proxies for the node library, though a PR would be welcome. Existing implementations include [Ruby](https://github.com/bugsnag/bugsnag-ruby/blob/master/docs/Configuration.md#proxy_host) and [Python](https://github.com/bugsnag/bugsnag-python#proxy_host), if those could be of any help. Thanks!

[2016-06-07 09:55] cteyton opened #78 "Cannot read property 'length' of undefined ?"
Hi there,

I have the following code snippet in my server.js file

[code]

I have an error generated by bugsnag :

[code]

Do you have an idea of where does it come from ?

Thanks.

[2016-06-26 18:54] steebchen opened #79 "Express req.host deprecation"
There's a warning in bugsnag:

[code]

Not important at all but I just wanted to let you know.

bugsnag@1.7.0
express@4.13.4

[2016-07-04 01:38] jacobmarshall commented on #74
It seems there are a few different places which the `callback` argument can be invoked.

It's possible for the function to be invoked without any arguments when the `Bugsnag.shouldNotify` function returns false, canceling the event from being sent to Bugsnag. See https://github.com/bugsnag/bugsnag-node/blob/master/lib/bugsnag.js#L94.

Other references are:
- https://github.com/bugsnag/bugsnag-node

[2016-07-04 02:01] jacobmarshall commented on #79
It seems that `req.host` is only used as a fallback if `req.hostname` is falsy. See https://github.com/bugsnag/bugsnag-node/blob/master/lib/request_info.js#L6.

[2016-07-04 02:04] jacobmarshall commented on #78
Have you tried not wrapping `err` when passing it to `bugsnag.notify`? The `err` argument should already be an `Error` object.

[code]

[2016-07-04 19:48] jacobmarshall commented on #76
You should be able to specify an HTTPS proxy url (https://github.com/bugsnag/bugsnag-node#proxy) as  `bugsnag-node` uses [`request`](https://www.npmjs.com/package/request#proxies) to send requests, which supports proxies, but what you are asking for is the ability to pass through proxy authorization details. Right?

If so, I'd be happy to submit a PR to support providing these details like so;

[c

[2016-07-04 20:25] jacobmarshall commented on #79
Are you getting this error on a clean express setup? I ask because I wonder whether some middleware you're using is voiding `req.hostname`. Seems unlikely, but if you're using `express@4`, then `req.hostname` should absolutely be set.

[2016-07-04 21:02] steebchen commented on #79
A middleware is probably the issue, because I double checked that I am using a new version of express (4.13.4). A clean express setup seems working but since I have dozens of middlewares in my production app (where I saw this warning in the logs) and I don't have a stacktrace this will be hard to find out.

[2016-07-04 21:03] jacobmarshall commented on #79
Ah great. (Feel free to close this issue then 👍 )

[2016-07-04 21:51] #79 closed

[2016-07-06 05:30] cteyton commented on #78
thanks :+1:

[2016-07-06 05:30] #78 closed

[2016-07-07 17:20] goldendase opened #81 "Critical issue with filters"
Hi gang,

You have a pretty serious issue right here:

https://github.com/bugsnag/bugsnag-node/blob/master/lib/utils.js#L111

The issue here is that you're going to clobber data in the app using bugsnag-node. What you're doing there is an object reference lookup on the `object` belonging to the main app then modifying the data in that object. If the object going to bugsnag happens to be, say, a gl

[2016-07-08 19:44] kattrali commented on #74
Thank you for the report, @TylerBrock, and for the code dive, @jacobmarshall. I'll follow up with some feedback on #80.

[2016-07-08 19:51] kattrali commented on #81
Thank you for the report, @goldendase. The filters issues is fixed via #82. I'll take a look into the other one shortly.

[2016-07-08 19:51] #81 closed

[2016-07-08 21:33] #74 closed

[2016-08-08 20:51] markstos opened #84 "Please document whether `bugsnag.notify` is sync or async"
The docs should clarify whether `bugsnag.notify` is sync or async if no callback used.

This matters because that happens just after calling `bugsnag.crash` may cause a crash. If it happens fast enough, the Bugsnag notification might not get through.

[2016-08-08 23:53] kattrali commented on #84
Thanks for the report, @markstos! I’ll look into updating the docs.

[2016-08-08 23:53] #76 closed

[2016-08-22 11:15] joshunger opened #85 "require.main.filename isn't always available"
require.main.filename isn't always available.  Can you detect if it is undefined and not use it?

See https://github.com/bugsnag/bugsnag-node/blob/master/lib/configuration.js

Something like -
`projectRoot: require.main !== undefined && require.main.filename !== undefined ?path.dirname(require.main.filename) : null`

It is undefined if I'm using webpack to bundle my server side code.

[2016-08-23 21:16] benwigley opened #86 "Question: Can this be used for an isomorphic app?"
We are building a react app that runs on the server and the client. Just wondering if this package is able to be run in the browser? Or if not do you have any recommendations for how that could be achieved.

Thanks for your time to help me out.

[2016-08-23 21:48] eanakashima commented on #86
@benwigley it's best to only use this library server-side, and bundle in the [bugsnag-js](https://github.com/bugsnag/bugsnag-js) notifier library in the browser. Both are available as npm packages. You could probably theoretically adapt this one to run in a browser environment, but the types of metadata the two collect are quite different. For example, bugsnag-js will collect data about DOM events

[2016-08-23 21:49] benwigley commented on #86
@eanakashima thank you, that helps a lot.

[2016-08-23 22:04] #86 closed

[2016-08-26 08:25] kattrali commented on #85
Thanks for the report, I’ll take a look at a patch

[2016-08-26 08:39] #85 closed

[2016-09-05 14:32] jonathansamines opened #87 "Exposing middlewares as factories"
I just was wonder if it was possible to expose the `bugsnag middleware` handler functions as factories. Basically the change would imply to use the middlewares by calling a function:

[code]

The change seems quite simple, but would help to use this module along with modules like https://github.com/krakenjs/meddleware and generally load middlewares by just using configuration. That change would re

[2016-09-05 14:42] kattrali commented on #84
I’ve updated the guide on [Reporting handled errors](https://docs.bugsnag.com/platforms/nodejs/other/reporting-handled-errors/) to be clearer about the behavior of `bugsnag.notify` and that delivery is asynchronous. Thanks again!

[2016-09-05 14:42] #84 closed

[2016-09-05 14:47] kattrali commented on #87
Thanks for the suggestion, @jonathansamines. That sounds like a fairly simple change, and it would be useful for configuring handlers before initialization. The names would need to be different from the existing handlers for compatibility reasons though, and to hopefully reduce confusion. Maybe something like `bugsnag.createRequestHandler(options)` ?

[2016-09-05 15:05] jonathansamines commented on #87
Hi @kattrali seems like a good name for its purpose. Is there something I can help with?

[2016-09-05 15:25] kattrali commented on #87
@jonathansamines Sure, feel free to make a PR and we can discuss further. Let me know if you have questions!

[2016-11-07 17:41] bullmo commented on #87
@jonathansamines Version 1.9.0 of the node notifier has now been released with the middleware factory changes that you made in https://github.com/bugsnag/bugsnag-node/pull/88. Thanks for adding that.

[2016-11-07 17:41] #87 closed

[2016-11-14 18:32] jonathansamines commented on #87
Thanks, sorry for not adding the tests. I completely forgot about this feature, but glad to hear was already published :)

[2016-12-30 21:44] steebchen opened #89 "Promises are ignored by default"
While uncaught exceptions are always caught, uncaught rejected promises are ignored. Wouldn't it be extremely useful if Bugsnag would handle them too? In production, I encountered an issue where I didn't catch a rejection and got a timeout instead – and saw nothing in my bugsnag dashboard. I am now listening on process.unhandledRejection, but it would be useful if bugsnag-node could do that automa

[2017-01-09 14:59] JoeStanton opened #90 "Reporting not working from Webpack bundled code (Blank version number)"
I have no idea if Lambda is related, but deliberately causing an error and having it handled by `bugsnag.notify(e)` in a try/catch leads to the following payload:

[code]

This is received as a 200 OK by Bugsnag (which I understand to just mean queued, not processed). This exception never actually appears in the UI.

Do we have a way to validate the payload?

[2017-01-10 01:01] kattrali commented on #90
Thanks for the report, @JoeStanton. At first glance, I'd think it would be something to do with the `notifier` section having a null `version` field, but we'll look into it.

[2017-01-11 01:04] wordofchristian commented on #90
I've setup a new lambda server to test this and was able to report errors to bugsnag just fine. Perhaps there is some environment difference that is preventing it from working for you.

Essentially all we are doing to get the version number is:
[code]
I suppose it's possible that there's a problem with `__dirname`?

Can you confirm that `__dirname` is working on your lambda server?

[2017-01-13 00:56] kattrali commented on #89
That makes a lot of sense, @steebchen. I think the biggest issue would be the different implementations of promises used, and perhaps the node version, but this is definitely something the library should attempt to do automatically.

[2017-01-18 10:39] JoeStanton commented on #90
Thanks for looking into this - I've cracked it. As we're transpiling ES6/7, we produce a Webpack bundle that we then use on Lambda. I know this is a little bit uncommon for server side code.

Because your version lookup depends on the directory structure, it fails in this context.

Would you recommend if we're producing a JS bundle that we use the client side JS version of this library?

[2017-01-18 17:51] wordofchristian commented on #90
No, the client side JS version is only meant to work inside a browser environment. According to [this thread](https://github.com/webpack/webpack/issues/603) you can try listing bugsnag in externals under your webpack config.

 If that doesn't work, then maybe we can add something to the library to detect that it is being processed by webpack and require the package.json rather than reading it from

[2017-01-23 10:38] JoeStanton commented on #90
If we list Bugsnag as a webpack external, users will need to do additional work to ensure this file is shipped next to their bundle and made available by some other means.

IMO it would be preferable to follow your latter suggestion on this? It may be an edge case, but I don't think its safe to assume runtime paths in the age of bundling, and this is non-trivial to debug when it does happen.

[2017-01-24 01:40] jacobmarshall commented on #90
It looks to me as if your patch, @JoeStanton (https://github.com/redbadger/bugsnag-node/commit/d877e32aab8b7d507ed3b66cd487e3d3b137dcd1) is enough to support both standard (non-transpiled) node.js apps, and bundled node.js apps as well. Or am I wrong?

From what I can tell `Utils.getPackageVersion` does a simple `require` anyway, so there's little to no difference - other than the relative path.

[2017-01-24 09:52] JoeStanton commented on #90
@jacobmarshall it is indeed sufficient for bundled/non-bundled node apps, however, it assumes the existence of `package.json` without a `try/catch`. It would be quite odd for this file not to exist, but not sure if this would break someones use case.

[2017-01-24 10:21] jacobmarshall commented on #90
Correct, because it's reading the `bugsnag-node` `package.json` file. Which should always be picked up from the module bundler - in this case webpack.

I'll be honest, it's kind of strange to me that the current code wraps the `require` in a `try/catch`. I can see that it's always been there (https://github.com/bugsnag/bugsnag-node/commit/c5aaa5f1cce320036817a6fa61aec7ed4c17d694) - but I'm fairly

[2017-01-24 10:28] jacobmarshall commented on #90
I can see now that it's also used to pickup the app's `package.json` version if one is not provided in `Configuration.appVersion` (https://github.com/bugsnag/bugsnag-node/blob/master/lib/configuration.js#L69). So that explains it 😜

[2017-01-24 10:35] jacobmarshall opened #91 "sendCode never set if packageJSON option is set without appVersion"
Whilst doing a small code dive in https://github.com/bugsnag/bugsnag-node/issues/90#issuecomment-274765637 I have noticed that the last line of the `configure` function is never run if the `packageJSON` option is set, but no `appVersion` is.

This is likely an edge case, but yields a potentially confusing result for people wanting to enable `sendCode`.

[2017-01-24 15:54] #91 closed

[2017-01-25 15:46] flushentitypacket commented on #43
Stumbled on this trying to figure out how to notify a second Bugsnag project from a single Rails app. The link in OP doesn't seem to point to the right place anymore--is this still a feature in the Ruby lib?

[2017-01-25 15:50] flushentitypacket commented on #43
Found the option in the source:
https://github.com/bugsnag/bugsnag-ruby/blob/f4c9f1e47d098331a53a63ca38f4a904a6d0d13e/lib/bugsnag/notification.rb#L64

[code]

[2017-03-12 02:52] jmshal opened #94 "Koa: Add support for requestData alternative"
Because the Koa handler doesn't use domains, I don't see `Bugsnag.requestData` working at all for Koa (even though the docs seem to say otherwise - [here](https://docs.bugsnag.com/platforms/nodejs/koa/#identifying-users)).

My initial thoughts were to slightly modify the `koaHandler` to merge `ctx.bugsnag` with the metadata argument passed to `Bugsnag.notify`. After a quick initial test, this does

[2017-03-27 18:18] frankleng opened #96 "Potential pitfall with JSON.stringify circular reference"
`bugsnag.notify` uses JSON.stringify
however many error objects have circular references
`JSON.stringify` throws a `Type Error`, so any code afterwards will not be executed.

Can we have some decycling before stringify? something like D. Crawford's `JSON.decycle` in cycle.js

https://github.com/douglascrockford/JSON-js/blob/master/cycle.js

[2017-05-03 20:43] Grmiade opened #99 "requestData is undefined with `POST` requests"
With `POST` requests, `bugsnag.requestData` becomes `undefined` :/ Normal?
I have this error: `Cannot set property 'user' of undefined`. My node version is 7.9.0

`console.log(req.method, bugsnag.requestData === undefined, req.user._id)`
<img width="306" alt="capture d ecran 2017-05-03 a 22 36 42" src="https://cloud.githubusercontent.com/assets/11244106/25680411/0bc6627a-3051-11e7-9813-71fa0db5eb0

[2017-05-17 19:16] alexlatchford opened #101 "Custom error data is lost during reporting."
I'm trying to use `onBeforeNotify` to attach metaData as described here: https://docs.bugsnag.com/platforms/nodejs/restify-coffee/customizing-error-reports/

I've made a custom error type (a subclass of `Ajv.ValidationError`) and I'd like to be able to attach the specific JSON validation errors and the value context. My code for that is something like:

[code]

The problem is before `onBeforeNotif

[2017-05-24 19:06] alexlatchford commented on #101
Just extended this implementation to be more generic:

[code]

Should in theory copy across all custom error props to an "Exceptions" tab. Next to make a PR to fix the underlying issue!

[2017-06-01 21:58] kattrali commented on #101
Thanks for the report, @alexlatchford. I've looked at your proposed solution as well.

Ideally, the solution would allow users to use custom objects while not attaching data which they don't want. I think we could simplify this somewhat to provide the original error object as the second parameter to `onBeforeNotify`. So potential usage would be something like:

[code]

Does that meet your use case

[2017-06-01 22:05] alexlatchford commented on #101
Works fine by me. If you take a look at the PR I've raised I went down a different approach to actually include custom error metadata by default so you wouldn't even need to implement an `onBeforeNotify` call. Not sure exactly what the use case would be for filtering CustomEvent metadata but I'm sure that can be tacked onto the approach I outlined in the PR.

[2017-06-01 23:38] kattrali commented on #101
That's true. I was only concerned in the case that a validation error or other custom error would include some user information which might need to be removed and erred on the side of sending too little data. 🤔

[2017-06-02 00:57] alexlatchford commented on #101
That's true and your call, for us it wouldn't matter too much often errors are un-debuggable (or uneven un-triage-able) without context  so was trying to think of the easiest way to greedily grab as much as possible. Can work backwards from there, guess it depends on how you feel the defaults should be 😄

FYI: From my experience it's been pretty tricky (compared to my previous experience with Pyth

[2017-06-03 00:12] kattrali commented on #101
Gotcha! The use case makes a lot more sense to me now. :) I've nearly drafted a proposal changeset for how this should work and some new documentation.

[2017-06-05 15:33] #101 closed

[2017-06-08 21:35] kattrali commented on #99
Thanks for the report, @Grmiade. After some testing, this issue seems to be unrelated to the HTTP method but rather to the active [domain](https://nodejs.org/api/domain.html) changing, as is the case if the error is triggered by an unhandled promise rejection or other event emitter. (I have an example of promise rejection specifically [here](https://gist.github.com/kattrali/1ac8dcb209fcd5b5db2e5e1

[2017-06-15 07:24] Fjandin commented on #99
Would it be an idea to have some sort of fallback where you can set the requestData on the request object itself?

[2017-07-10 20:10] wfortin opened #104 "Security vulnerability in current version of request"
Hi,
[Snyk](https://snyk.io/) revealed an error today regarding bugsnag. It seems that the release v.1.11.0 has a dependency on the module `request` prior to `v2.81.1` which contains a security issue.

All details here: https://snyk.io/vuln/npm:tunnel-agent:20170305

Running `yarn why tunnel-agent` found that `bugsnag-node` has the vulnerability. Could you please publish a new release including the

[2017-07-11 23:17] #104 closed

[2017-08-02 17:43] #94 closed

[2017-08-02 19:42] niftylettuce opened #107 "Domain is deprecated"
https://nodejs.org/api/domain.html

[2017-08-02 20:18] kattrali commented on #107
Thanks for the report, @niftylettuce! Per the deprecation notice, a replacement API for domains has not yet been made. Once that is no longer the case, domains will be removed from this library and only used (at most) as a fallback for older versions of node.

We'll revisit this issue once there is a replacement.

[2017-08-02 20:18] #107 closed

[2017-08-02 20:22] #90 closed

[2017-08-02 20:23] kattrali commented on #90
Hardcoding this value is the simple solution, and the same as other bugsnag libraries. I updated the release instructions as well as the value to ensure it stays up to date.

[2017-08-02 20:24] #96 closed

[2017-08-08 18:27] tvskart opened #109 "Unhandled Promise Rejections losing error stack trace?"
Hi guys,
Tagging few guys who used the unhandled-rejection library in the examples I found in this repo. @kattrali @jmshal .

I'm new to using this bugsnag library. Tried to set it up to log unhandled promise rejections. I notice that this implementation, seems to "remove the stack trace", I can't see the exact line where a promise was created.  Do you guys face this issue as well with this implem

[2017-08-21 17:20] adnan-i opened #110 "Cannot read property 'stack' of null"
Is `.notify` method designed to only accept instance of `Error` as first param?
If this method is called with `null` it fails with `Cannot read property 'stack' of null` exception.
I only discovered this after I experienced it on my production server. Not good.

I understand that the docs say the first param should be either Error object or String, but still I can't appreciate the **error reportin

[2017-08-22 15:53] bengourley commented on #110
Hi @adnan-i, thanks for the filing this issue.

**The `notify(Error, …)` method should _only_ ever be called with `Error`s or `String`s.** Using it in any other way is incorrect and is not supported. Sending `null` or `undefined` or any other value where property access throws an error is not supported and will definitely cause the application to crash.

I agree with you that incorrect usage of th

[2017-08-22 23:25] kattrali commented on #110
I think this would be a solid approach. We could also log a warning when this coercion happens.

[2017-08-29 13:41] bengourley commented on #89
Now that promises are in core and lots of promise libraries will _probably_ default to using native promises if available, there should be enough usage that listening to `'unhandledRejection'` is worthwhile.

The only thing to be aware of is the side-effect(s) of attaching a listener to the `'unhandledException'` and `'unhandledRejection'` events. Currently the former prevents the default behaviou

[2017-08-29 14:17] bengourley commented on #109
Hey @tvskart I just tried to reproduce your issue but couldn't. Here is what I tried:

[code]

Here's my stack trace in the Bugsnag dashboard:

![image](https://user-images.githubusercontent.com/609579/29825546-b321e06c-8ccc-11e7-882d-6a3030f93629.png)

I'm running this on Node v8.3, so I have native promises so I suspect that is the most likely differentiating factor here… let me know how this di

[2017-08-31 09:42] bengourley commented on #99
Hey @Grmiade have you had a chance to try Node v8 yet? As @kattrali mentioned, the native promises there should behave in a slightly better way (if indeed you were using promises).

Unfortunately there's not a lot we can do here… domains are fundamentally flawed (which is why they have been deprecated) in ways such as this, but there isn't a direct replacement yet for the features that they provid

[2017-08-31 09:42] #99 closed

[2017-09-07 06:44] #110 closed

[2017-10-02 17:39] #89 closed

[2017-10-15 16:46] ilaif opened #117 "Batching errors sent to bugsnag"
Hey guys,
You have a terrific service.

### Expected behavior
When many errors are being notified, or many .notify() calls are being made, the library should batch the requests per some time frame (a few seconds) and notification count to optimize network traffic and load on the node.js server.

### Observed behavior
Diving into the source code, every .notify() call sends a request to the bugsnag

[2017-10-18 10:00] kattrali commented on #117
Thanks for the report, @ilaif. Batching makes a lot of sense, and probably a bit of intelligent throttling as well. This is something we should resolve as we are working on a major revision of the library. Do you have any thoughts, @bengourley?

[2017-10-18 11:48] bengourley commented on #117
Absolutely agree. Our API already supports sending multiple errors in a
single payload so we should be able to support batching reasonably soon.
We're already working on deduping/throttling too.

On Wed, 18 Oct 2017, 12:00 Delisa Mason, <notifications@github.com> wrote:

[2017-10-18 13:31] ilaif commented on #117
I might have some time to contribute an initial PR for this feature until the weekend. Will it be of use?

[2017-10-20 07:54] bengourley commented on #117
This is something we're going to be working on ourselves in the near future. The last thing we'd want to do is have you spend time on this and end up it being not used, or replaced by what we do. Thank you for the offer though, it's very kind of you. And also if you feel that this is urgent for you, don't let this stop you from forking the module and making changes per your requirements for now.

[2017-10-22 21:27] cggaurav opened #119 "Connecting to Bugsnag Timeout from Lambda functions?"
There are a 1000+  `register` calls being per second made from a Cloud lambda function and some of them timeout on your side?

[code]

Your status page didn't have any issues currently.

[2017-10-23 09:05] bengourley commented on #119
Hi @cggaurav!

I've taken a deeper look into the metrics around the time of your logged example, and per the status page everything seems normal on our end.

You mention 1000+ register calls – `register()` doesn't actually perform any network requests, it configures the notifier. Only `notify()` (manual or automatic) actually makes a request to `notify.bugsnag.com`. `register()` should only be cal

[2017-10-23 14:22] cggaurav commented on #119
Hey @bengourley I realized that this was an issue with Lambda not having access to the internet with my VPC settings!

[2017-10-23 14:22] #119 closed

[2017-10-24 09:29] bengourley commented on #109
Closing due to inactivity, but feel free to ask for this to be reopened if you still have an issue.

[2017-10-24 09:29] #109 closed

[2017-11-07 17:05] actionnick opened #120 "Can't set bugsnag.requestData.user in express middleware."
I'm basically following the example in the examples directory and getting an error.

### Expected behavior
`bugsnag.requestData.user = { _id  }` should work.

### Observed behavior
`TypeError · Cannot set property 'user' of undefined`

### Steps to reproduce
In express middleware try to set requestData.

### Version
bugsnag version - 2.0.1
node version - 7.9.0

### Additional information
After doi

[2017-11-07 20:44] bengourley commented on #120
Hey @actionnick would you be able to put together a reduced test case? Or simply share the code that causes this issue for you? I just checked out the express example to make sure it's still correct, and by my reckoning it is.

Before seeing you code, my thoughts are leading towards the possibility that your `bugsnag.requestData.user = { … }` call isn't happening within the context of a `req`/`res

[2017-11-07 22:04] actionnick commented on #120
From the research I've done it has to do with how `process.domain` is handled in native Promises. The code that I was executing is in the callback of a promise which I imagine is quite a common use case for authenticating a user. In that callback `process.domain` is undefined.

[code]

Related issues,
https://github.com/nodejs/node-v0.x-archive/issues/8648#issuecomment-61357013

Apparently it _can

[2017-11-08 10:15] bengourley commented on #120
Hmm, interesting. I've put together the following bare-bones example which manages to operate correctly with promises:

[code]

Hit http://localhost:3000/?uid=1, http://localhost:3000/?uid=2, http://localhost:3000/?uid=3 to make it exhibit a few different behaviours.

I noticed that I got the same error as you when I missed off the request handler middleware (`app.use(bugsnag.requestHandler`) whic

[2017-11-13 19:31] actionnick commented on #120
I'm going to look into this when I get some time, thanks for looking into this.

[2017-12-12 03:48] alejandromagnorsky opened #121 "Can't disable logs"
Hello. Can you provide an option to disable logs in the console? I find this to be pretty annoying considering the amount of information being displayed and also because I handle logs by myself.

Thanks.

[2017-12-12 09:41] bengourley commented on #121
You can pass in a custom logger object when you configure Bugsnag:

[code]

As long as it matches the interface in https://github.com/bugsnag/bugsnag-node/blob/master/lib/logger.js, anything will do, e.g:

[code]

Or you could hook it up with whatever logger you're using in your application e.g. [`bunyan`](https://github.com/trentm/node-bunyan), [`pino`](https://github.com/pinojs/pino) etc…

[code

[2017-12-12 09:41] #121 closed

[2017-12-14 06:35] alejandromagnorsky commented on #121
That worked nicely.
Just to confirm, this does not affect the errors sent to Bugsnag dashboard, right?

Thank you.

[2017-12-14 07:52] bengourley commented on #121
Correct

On Thu, 14 Dec 2017, 06:35 Alejandro Magnorsky, <notifications@github.com>
wrote:

[2017-12-14 10:03] Grmiade commented on #120
I have the same problem whereas I setted `app.use(bugsnag.requestHandler)` in first :/

[2017-12-14 10:21] bengourley commented on #120
Hey @Grmiade are you able to provide a reduced case of this problem?

Let me know:

- bugsnag version
- node version
- any non-native promise lib installed?

Additionally, can you try running the example I posted above and let me know if that works for you?

Cheers

[2018-01-05 01:20] jameskerr opened #123 "Duplicate Error Messages in Logs"
### Expected behavior
In development without a bugsnag API key, I expect to only see an single error message printed to the console when a single error occurs.

### Observed behavior
Duplicate error messages are printed to the console.
[code]

### Steps to reproduce

1. Add bugsnag to an express app following the instructions on the bugsnag website.
2. Insert `null` for the
3. Trigger an error

##

[2018-01-05 01:20] jameskerr commented on #123
I'd recommend not including the error the error message here: https://github.com/bugsnag/bugsnag-node/blob/master/lib/bugsnag.js#L72

[2018-01-08 18:32] #123 closed

[2018-01-08 20:08] todd opened #125 "Cannot find module backo"
### Expected behavior
Bugsnag is unable to be imported by our projects. Appears to be related to the new version just pushed out - reverting to 2.0.1 fixes this issue. Appears that `backo` is a `devDependency` that was not removed from the published version of the package.

### Observed behavior
`bugsnag` is unable to be required by our projects:
[code]
### Steps to reproduce
Install the latest ve

[2018-01-08 20:09] todd commented on #125
cc @doron2402 @jeffsaildrone

[2018-01-08 21:14] bengourley commented on #125
Thanks for the report – this has been fixed and published in 2.1.1. Sorry the inconvenience!

[2018-01-08 21:14] #125 closed

[2018-01-17 21:27] CTOJoe opened #126 "Missing functionality or documentation for app type feature"
### Expected behavior
Ability to configure `app type` like other platforms. ( [PHP](https://docs.bugsnag.com/platforms/php/other/configuration-options/#app-type) | [GO](https://docs.bugsnag.com/platforms/go/other/configuration-options/#apptype) | [JAVA](https://docs.bugsnag.com/platforms/java/other/configuration-options/#setapptype) | [RUBY](https://docs.bugsnag.com/platforms/ruby/other/configurat

[2018-01-17 21:59] CTOJoe opened #127 "No way to filter authorization header"
### Expected behavior
Our Bugsnag is configured for express. When an express request has an error, Bugsnag logs all sorts of useful info about the request, including HTTP headers. The authorization header contains sensitive information and recording them in Bugsnag could violate privacy concerns. Depending on the application, other HTTP headers could contain information that is just as sensitive.

[2018-01-24 09:35] bengourley commented on #127
Hi Joe, thanks for the report. I've discussed with with the team and it seems like a perfectly reasonable suggestion. I'll get it scheduled.

[2018-01-24 09:44] bengourley commented on #126
Thanks for the report, we should add this. In the mean time you can add a before notify callback to achieve the desired result:

[code]

[2018-02-09 14:50] jguepin opened #129 "Middleware crashes with serverless-http"
### Expected behavior
The bugsnag middlewares should work with [`serverless-http`](https://github.com/dougmoscrop/serverless-http) that is a middleware wrapper for serverless use (AWS Lambda), compatible with `express` / `connect` middlewares.

### Observed behavior
Every request returns an error:
[code]

### Steps to reproduce
Setup a simple `serverless-http` service on AWS Lambda:
[code]

### Ve

[2018-02-12 10:06] bengourley commented on #129
Hi @jguepin, thanks for the report. I'll get this looked into – I'm sure the workaround on our part is pretty simple.

Do you think this it's also worth posting a bug on [dougmoscrop/serverless-http](https://github.com/dougmoscrop/serverless-http)? I would imagine a fair amount of people/middleware for connect/express are using `req.connection.address()` in some way. It looks like it stubs a [`soc

[2018-02-12 11:19] jguepin commented on #129
Hello @bengourley, thanks for the reply!

Indeed, I think the error could be fixed on `serverless-http` side, I just opened an issue on [the repo](https://github.com/dougmoscrop/serverless-http/issues/39).

[2018-02-20 18:21] my-name-was-already-taken opened #130 "Interface ConfigurationOptions is missing newer Bugsnag options"
It seems that the TypeScript interface `ConfigurationOptions` is missing the following properties / new configuration options:

[code]

... whereas `beforeNotifyCallbacks` and the already defined `logger` could maybe even be more strict (e.g. sth like `Array<(notification: any, error: any) => any>` or if you'd argue that the lack of typing for that means no breaking change with non-any-types, then

[2018-02-22 14:33] #127 closed

[2018-02-22 14:48] #129 closed

[2018-02-23 18:50] apexskier opened #135 "Source map support"
### Expected behavior
Server side code that's been transpiled with a sourcemap will be shown in the bugsnag web interface as the original code.

### Observed behavior
No sourcemap support

### Version
2.2.0

[2018-02-27 22:51] doron2402 opened #136 "Bugsnag: Error: uv_signal_start EINVAL"
### Expected behavior
It shouldn't break my app

### Observed behavior

### Steps to reproduce
[code]
### Version
2.2.0

### Additional information
no

[2018-02-27 23:01] doron2402 commented on #136
It seems like the bug occurs when listening to `SIGINT` or `SIGTERM` events

[2018-02-28 11:37] Cawllec commented on #136
Hi @doron2402, thanks for the report, I'll have a look into this.

[2018-02-28 12:00] Cawllec commented on #136
I've had a quick look and this error occurs in newer Node versions if you're attempting to capture `SIGKILL` or `SIGSTOP` signals and certain others in specific scenarios as described in [the process docs](https://nodejs.org/api/process.html#process_signal_events).

Are you sure you haven't got any `process.on` calls for capturing `SIGKILL` or `SIGSTOP` instances?

[2018-02-28 17:10] doron2402 commented on #136
Hi @Cawllec,
It's happen when I was trying to capture ` SIGINT` or `SIGTERM`
btw I'm using node version 6.9.4

[2018-02-28 17:39] Cawllec commented on #136
So I've tried out an example on 6.9.4 and it's not throwing that error with `SIGTERM` or `SIGINT`, only `SIGKILL` and `SIGSTOP`.  Does the issue persist if you disable or remove Bugsnag?

[2018-03-05 09:32] bengourley commented on #135
Hi @apexskier. We don't currently support source maps for node projects but this is on our roadmap.

[2018-03-05 10:42] Cawllec commented on #136
Hi @doron2402, from testing we believe that trace you're seeing is simple Bugsnag logging the unhandled error caused by the capture attempt.  While we're not entirely sure why that error would be  occurring when capturing `SIGTERM` and `SIGINT`, we don't believe Bugsnag is actively causing the issue.

If you've got a code sample that reproduces the issue we can have a bit more of a look into it, a

[2018-03-05 12:59] Cawllec commented on #136
For reference, we've reproduced the behaviour using the following script and `SIGKILL` but it doesn't cause the issue with `SIGTERM` or `SIGINT`.
[code]

[2018-03-05 19:14] doron2402 commented on #136
Cool, thanks for testing it.
I'll close the issue.
Thanks.

[2018-03-05 19:14] #136 closed

[2018-03-09 10:43] gauravsoti1 opened #138 "not able to minify using create-react-app webpack configuration"
### Expected behavior
I install bugsnag using npm install bugsnag --save and when I run npm run build, it should give me minified code.
### Observed behavior
I get an error Creating an optimized production build...
Failed to compile.
Failed to minify the code from this file:
 	./node_modules/bugsnag/lib/sessions/session.js:29

Read more here: http://bit.ly/2tRViJ9

### Steps to reproduce
npm insta

[2018-03-09 10:52] bengourley commented on #138
Hi @gauravsoti1. It looks like you want the [`bugsnag-js`](https://github.com/bugsnag/bugsnag-js) libarary if you want to do error handling it in the browser. This repo is for server-side usage in Node.js. Give that a go and let me know if that fixes your problem!

[2018-03-09 10:52] #138 closed

[2018-03-09 11:08] bengourley commented on #130
Hi @my-name-was-already-taken (great name). Sorry for the delay in getting back to you. I'll schedule getting this fixed, and also look at adding some automate QA to ensure the types are complete/accurate for any future changes. Thanks for your patience!

[2018-03-09 11:52] gauravsoti1 commented on #138
Hello @bengourley, I am using express for server side rendering and using the create-react-app production config for bundling my react code.

Please check this link: https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2018-03-09 13:44] bengourley commented on #138
Hey!

When running in a server environment you mustn't run `bugsnag-js` - it simply won't work. Take a look at [this related issue](https://github.com/bugsnag/bugsnag-js/issues/326#issuecomment-368045501) and [this one](https://github.com/bugsnag/bugsnag-react/issues/4) for more information and similar advice.

Likewise, when running browser code you mustn't run `bugsnag-node` (which is just `bugs

[2018-03-10 16:46] gauravsoti1 commented on #138
@bengourley I get that but the problem was that create-react-app config wasn't able to minify the the bugsnag code from the latest library because it doesn't ship with es5 code I believe.

[2018-03-15 17:09] #126 closed

[2018-04-17 00:05] ajsharp commented on #130
@bengourley What's the status of this? I can knock this out quickly if you're open to a PR.

[2018-04-17 00:44] ajsharp opened #141 "Express middleware not sending request details"
### Expected behavior
Bugsnag node in an express app should send request details. There should be a "req" tab in the web UI.

### Observed behavior
No request details are being sent. The only tabs I see are stacktrace, app and device.

### Steps to reproduce
Trigger an exception in a request.

### Version
busgnag node 2.3.1

### Additional information
This is a typescript app, using async / await

[2018-04-17 09:02] bengourley commented on #130
Hi @ajsharp, we would gladly receive a PR! This work is scheduled but it's lower priority than other things we have on the table right now, so is unlikely to be visited in the immediate future. If you make a PR I'll expedite some time to get it reviewed/merged though. Cheers

[2018-04-17 09:11] bengourley commented on #141
Hey @ajsharp. Can you provide an example of a route that is erroring in the small code example you provided please?

e.g. I tried this example and it worked as expected (creates a request tab in the dashboard)…

[code]

[2018-04-17 23:24] ajsharp commented on #141
Ok, so if I define a normal endpoint, it works as expected, and I get a request tab in the web UI. However, if it's an `async` endpoint, I get no request tab:

Source:
[code]

Generated Javascript:
[code]

[2018-04-18 09:38] bengourley commented on #141
Hey @ajsharp. This happens because express routes are not "async/promise-aware". I'll try to explain…

When you create an `async function () {}`, what it actually does it create a `Promise` (as you can see from your generated code).

When express runs this route function which returns a `Promise`, it doesn't do anything with either then eventual return value (from `.then()`) or the error value (fr

[2018-04-18 21:11] ajsharp commented on #141
@bengourley Awesome, thanks for wading through this, I'm very appreciative of this fix.

I'd love to see this become part of the busgnag express middleware. In my mind, this should be built in to bugsnag, because `async` is a language feature, and as a user of the bugsnag library, I expect that would just handle async gracefully.

[2018-04-19 07:32] bengourley commented on #141
You're very welcome.

I would love to get this into bugsnag too but there isn't a lot we can do… if either of the following changes, things can work "out-of-the-box":

- Express routes/middleware support async functions/Promises. There is actually an [open PR](https://github.com/pillarjs/router/pull/47) on the routing module that express uses internally, so this may land in the near future.
- [Dom

[2018-04-19 07:32] #141 closed

[2018-04-24 16:25] ajsharp commented on #141
Got it, that makes sense.

Also, if the errorHandler middleware needs to be added after the routes, the documentation on the bugsnag website needs to be updated, as it doesn't reflect that: https://docs.bugsnag.com/platforms/nodejs/express/.

[2018-05-14 19:03] kylef opened #142 "bugsnag-node depends on "unlicensed" code"
The bugsnag@2.3.1 package depends on various other packages which do not have valid licenses. This makes it hard to install bugsnag legally as in doing so you'd be making possibly illegal copies of the dependencies. Some declare that they follow the MIT license in package.json, but as they do not include a copyright notice in the NPM package it would be against the license to make a copy (such as

[2018-06-06 14:46] bengourley commented on #130
Fixed via #144.

[2018-06-06 14:58] #130 closed

[2018-06-06 20:20] aforty opened #145 "Please upgrade `request` dependency to ^2.87.0"
Hi!

tl;dr; is it possible to get `request` dependency version pushed up to `^2.87.0`? (currently `^2.81.0`)

I'm trying to sue `rollup` with a project using bugsnag. Bugsnag relies on `request` which relies on `aws-sign2`. The version of `aws-sign2` used by `request@2.81.0` has a bug where it double exports a function and rollup doesn't like that. It has been fixed and the latest version of `requ

[2018-06-07 04:31] tristanhoy opened #146 "Dependency Bloat"
### Expected behavior
A simple package should be very lean to reduce:
- Payload sizes
- Build times
- Vulnerability surface area

### Observed behavior
Bugsnag has over 5mb of dependencies

### Steps to reproduce
npm install bugsnag

### Version
2.4.0

### Additional information
- Replace request (4MB) with isomorphic-fetch (500KB)
- Upgrade cuid 1.3.8 (1.24MB) to cuid 2.1.1 (44KB)

[2018-06-07 15:47] bengourley commented on #145
You should be able to install the version of request that you want on your project and provided it matches bugsnag's semver range (which `2.87.0` does) it should use that. Any version `v2.x.x` will satisfy `^2.81.0`. Try this and let me know how you get on!

[2018-06-07 16:08] bengourley commented on #146
You raise some good suggestions. I think the cuid upgrade would be a lot easier than the isomorphic fetch migration. I'll make a note to address this – though that might not happen before we merge our node/browser js notifiers, in which case it will be addressed anyway.

[2018-06-12 23:14] hems opened #148 "Cannot read property 'startSession' of undefined on test environment"
This is the error that is happening on my test environment:
[code]

On the beginning of my server initialization code i have this:

![image](https://user-images.githubusercontent.com/27327/41321956-42677d8c-6e9e-11e8-8506-98ee3b7ad4c4.png)

and on my http server i have this:
![image](https://user-images.githubusercontent.com/27327/41321977-5f3a47be-6e9e-11e8-8a4e-610a8ba755ff.png)

I would expect

[2018-06-13 01:03] aforty commented on #145
Thanks that solved it.

[2018-06-13 01:03] #145 closed

[2018-06-13 10:14] bengourley commented on #148
Hi @hems, I can't exactly see why you would get the error `TypeError: Cannot read property 'startSession' of undefined` but I can see some problems with your setup which you should correct, and see if the problem goes away…

Lines 5 and 6 of your server configuration `bugsnag.releaseStage = …` and `bugsnag.notifyReleaseStage = …` are not how to configure those options, they need to be passed as in

[2018-06-13 16:19] hems commented on #148
my bad, those fixed completely did the trick.
thanks a lot

[2018-06-13 16:19] #148 closed

[2018-06-20 13:37] aftabnaveed commented on #138
We are using busnag for a universal REACTJS application and having exactly the same issue.

[2018-06-20 13:59] gauravsoti1 commented on #138
+aftabnaveed Use webpackIgnorePlugin and ignore bugsnag from your client build. It should be used on server side.

[2018-06-21 21:02] CPWeaver opened #149 "Sessions tracking against `production`, not configured releaseStage"
### Expected behavior
Sessions should be tracked against the configured releaseStage

### Observed behavior
Sessions are tracked against the proper appVersion but appear to count against `production`

### Steps to reproduce
Configure with a releaseStage, turn on auto session tracking, observe that sessions are not tracked against the configured stage

### Version
2.4.2

### Additional information

[2018-06-22 09:35] bengourley commented on #149
Thanks for the report, @CPWeaver! No you haven't done anything wrong – this is a bug in the notifier. We'll schedule a fix.

Cheers!

[2018-06-22 13:08] #149 closed

[2018-06-22 13:58] CPWeaver commented on #149
awesome, thanks for the help @bengourley! when I should look for a release?

[2018-06-22 14:12] bengourley commented on #149
I just released this – v2.4.3. Let me know whether it fixes your issue. Cheers!

[2018-10-22 09:18] raine opened #151 "Delivering exception to http://undefined:80undefined"
I was setting up bugsnag in local env and threw a dummy exception in request handler to test the integration. This message was logged through a custom logger[1] by bugsnag. Despite the strange error message, the exception appeared in the dashboard.

[code]

This is the line in bugsnag lib that logs the message, and logging `Configuration` before that line shows that `notifyHost` or `notifyPath` ar

[2018-10-22 18:07] snmaynard commented on #151
Looks like this log message was broken as a part of #143. We are close to releasing a new major version that will be an entire rewrite that will fix this.

[2018-10-23 15:57] marcusx opened #152 "How to add bugsnag middleware to apollo-server-lambda"
Can you update your docs or give me an example how to add bugsnag as a middleware to apollo-server-lambda?

As it is express running in the background I tried to follow [Bugsnag Install Express Middleware](https://docs.bugsnag.com/platforms/nodejs/express/#3-install-middleware) and [Apollo Middleware](https://www.apollographql.com/docs/apollo-server/essentials/server.html#middleware) but I am not

[2018-10-30 09:52] marcusx opened #153 "Sending Strings to bugsnag.notify('String') are ignored"
### Expected behavior
*If I send a string to `bugsnag.notify('Some string')` it is logged.*

### Observed behavior
*It seems that `STRINGS` are ignored. After changing my tests to `new Error ('Something')` I got some results in the backend.*

### Additional information
*The docs https://docs.bugsnag.com/platforms/nodejs/express/#reporting-handled-errors states that you can use error objects OR str

[2018-11-05 20:00] ian opened #154 "Bugsnag: Encountered an uncaught error, terminating. All uncaught errors force process.exit(), bad."
### Expected behavior
The error is handled by the underlying framework / server.  If the server considers the error an exit event, it shuts down the process.  If the error is handled by the framework then it makes the call on shutting down the process.

### Observed behavior
Bugsnag force exits the process

### Steps to reproduce
Occurrs here: https://github.com/bugsnag/bugsnag-node/blob/151a789f2

[2018-11-06 09:38] bengourley commented on #154
Hey @ian. Bugsnag has to close the process by default when handling an unhandled error to mimic what Node would normally do…

- when an exception is thrown and not caught (and some other cases such as if an event emitter emits and "error" event with nothing listening for it), Node will print the error and then exit
- by observing these scenarios using `process.on('uncaughtException')` unfortunatel

[2018-11-06 12:00] bengourley commented on #153
Hi @marcusx, thanks for the report. The docs are correct – this is the intended behaviour and I have done a quick sanity check to verify that this works as expected with the latest Node (v10.4.1) and latest bugsnag-node (v2.4.3).

If you can provide a reduced test case or more information on how/where this doesn't work, I'll take a closer look, but it appears to be functioning correctly to me. Tha

[2018-11-06 12:07] bengourley commented on #152
Hi @marcusx 👋

We don't have an example for this right now. If Apollo is compatible with Express you should just be able to set Bugsnag up per the docs you linked to. Is there a specific problem you are having? If so feel free to go into more detail here or send an email to support@bugsnag.com.

We did have a few issues around how serverless environments and frameworks differ slightly from traditi

[2018-11-06 16:22] ian commented on #154
@bengourley If you were mimicking what node would do you would simply let the exception propagate.  What you're actually doing is introducing new behavior to the system.

As an example, suppose you buy an OEM reader for your car.  You plug it in and it detects an error that it's not sure how to handle.  It shuts down your engine as a result.  Does this seem like normal behavior?

You're introducin

[2018-11-06 16:45] bengourley commented on #154
That's not true – unhandled exceptions crash the process. Node has default behaviour when there is no `uncaughtException` handler which never gets called once a custom one is added.

To use your analogy, the error detected shuts down the engine, but when you observe it you want it to keep the engine running? Even though the manufacturer of the car decided that this error means it should shut down?

[2018-11-14 03:36] TimNZ commented on #154
Bugsnag is erroneously terminating my node app on an error that must be caught or ignored upstream.
If I don't init Bugsnag the app continues to run fine.

[code]

[2018-11-14 15:49] snmaynard commented on #154
Would you be able to either gist a simple example or explain how you are generating the error so we can test it? Googling for `Can't statLink` doesnt seem to find this specific error. Is it a native error?

[2018-11-14 19:34] snmaynard commented on #154
Yeah - it's unfortunate that listening to the `uncaughtException` event changes the behaviour of nodejs applications. If this particular error doesnt bubble up to that handler though and we still exit then that would be a bug on our side and one we would prioritise fixing quickly.

You can read more about the handler at https://nodejs.org/api/process.html#process_event_uncaughtexception

Ideally a

[2018-11-14 23:12] TimNZ commented on #154
I don't want to spend hours tracing through bugsnag code and ensuring my understanding of error handling in node is solid, so tell me if my understanding is correct.

With no bugsnag the reject by qio which has no catch doesn't propagate as it is has no return (and I think callers are promise aware in this version of Sails),
whereas with bugsnag you are handling uncaughtException which gets notifi

[2018-11-14 23:39] snmaynard commented on #154
I just played about a little with the following code to see how unhandledrejections and uncaughtexception events alter node's default behaviour. You can see that currently if you dont listen to uncaughtexception and you throw, it prints a stack and quits. If you listen to the event it doesnt do this however.

With unhandledrejection, if you listen to the event everything works as you'd expect, if

[2018-11-14 23:58] TimNZ commented on #154
Looks solid.

This code is running on v6.11.4, and I only did a quick google to see if unhandledRejection was available in that ver and then gave up without answering it.

As OP asked for, Bugsnag shouldn't change current behaviour unless explicitly told to do so.

[2018-11-22 01:18] #152 closed

[2018-11-27 13:59] bengourley commented on #154
Hey all, we just release our new "universal" JS notifer [@bugsnag/js](https://github.com/bugsnag/bugsnag-js) which should now be used for all JavaScript (browser and node). Upgrade guide is [here](https://github.com/bugsnag/bugsnag-js/blob/master/UPGRADING.md).

This module is now deprecated so I'm closing off this issue. The new notifier adheres to this constraint:

So please upgrade when you get

[2018-11-27 13:59] #154 closed

[2018-11-27 14:15] bengourley commented on #151
The rewrite @snmaynard mentioned is now complete and released: [@bugsnag/js](https://github.com/bugsnag/bugsnag-js) ([docs](https://docs.bugsnag.com/platforms/javascript/), [upgrade guide](https://github.com/bugsnag/bugsnag-js/blob/master/UPGRADING.md))

This package is now deprecated so we're closing off old issues.

[2018-11-27 14:29] bengourley commented on #142
This module is now deprecated, closing off this issue.

[2018-11-27 14:29] #142 closed

[2018-11-27 14:32] bengourley commented on #135
Source maps on Node are now supported by the "universal" JS notifier we just released: [@bugsnag/js](https://github.com/bugsnag/bugsnag-js/). We will be upgrading our tooling soon, as right now `bugsnag-sourcemaps` will be a bit fiddly for Node projects – but source map resolution is enabled on payloads sent from the new notifier.

[2018-11-27 14:32] #135 closed

[2018-11-27 14:37] bengourley commented on #120
Closing due to inactivity.

This module is now deprecated. Please upgrade to [@bugsnag/js](https://github.com/bugsnag/bugsnag-js/) – our new "universal" notifier for Browser and Node JS – when you get the chance. If you're still experiencing an issue like this, feel free to write in to support or open up an issue on that repo. Thanks!

[2018-11-27 14:37] #120 closed

[2018-11-27 14:38] bengourley commented on #117
Closing this off as this package is now deprecated. ([@bugsnag/js](https://github.com/bugsnag/bugsnag-js/) is our new "universal" notifier for Browser and Node JS).

Batching error reports is on our internal roadmap for the new combined notifier.

[2018-11-27 14:38] #117 closed